@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;700&display=swap');

/* Your other styles */
body, .reveal {
    font-family: 'PT Sans Narrow', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'PT Sans Narrow', sans-serif;
}

.reveal {
    font-family: 'PT Sans Narrow', sans-serif;
}

.reveal h1, .reveal h2, .reveal h3, .reveal h4, .reveal h5, .reveal h6 {
    font-family: 'PT Sans Narrow', sans-serif;
}

h2.author {
    font-family: 'PT Sans Narrow', sans-serif;
    font-weight: 400;
    color: #999;
    --r-heading-text-transform: none;
}

.huge {
  font-size: 3em;
  font-weight: 700;
}